/* admin.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;

}

header h1 {
    margin: 0;
}

#logoutButton {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
}

#logoutButton:hover {
    background-color: #c0392b;
}

.admin-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dataTable {
    width: 100%;
    border-collapse: collapse;
}

#dataTable th, #dataTable td {
    padding: 10px;
    border: 1px solid #ddd;
}

#dataTable th {
    background-color: #f2f2f2;
}

.confirm-button {
    background-color: lightblue;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.confirm-button.confirmed {
    background-color: #7f8c8d;
}

.confirm-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.confirmation-name {
    font-size: 0.9em;
    color: #333;
}

.delete-button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.delete-button:hover {
    background-color: #c0392b;
}
